body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-image: url(https://scontent.fnjf4-2.fna.fbcdn.net/v/t1.15752-9/375210916_137897352683988_2349135812497219419_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeFzMZamcvejoPdiZRr7y2Pnvqxjxpe1kC6-rGPGl7WQLkipDdxerVB4mR559MXK7sqAAw_T4MNDod7hyWt_aZ6G&_nc_ohc=TqjdWItyUKgQ7kNvgGFtlju&_nc_ht=scontent.fnjf4-2.fna&_nc_gid=AXletZRhxMsorNt6GDnejMd&oh=03_Q7cD1QEsLCRhg4NMp2_B65MaAxSf-eBPzJD4Ma059I6W02XdhQ&oe=6711C062); /* Path to your background image */
    background-size: cover; /* Cover the entire header area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
    color: #ffffff; /* Text color */
    padding: 1rem;
    text-align: center;
    position: relative; /* For better text positioning if needed */

}

main {
    padding: 1rem;
}

.movie-container {
    display: flex;
    flex-direction: column; /* Stack movies vertically */
    gap: 20px; /* Space between movies */
}

.movie {
    flex: 1 1 calc(20% - 1rem); /* Adjust width and spacing */
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
}

.movie img {
    width: 100%;
    height: auto;
}

.movie-info {
    padding: 1rem;
}

.movie-info h2 {
    margin-top: 0;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

audio {
    margin-top: 1rem;
}

